<div class="container header-container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8 header-left">
            <h1>김정효</h1>
            <h2>백엔드 개발자</h2>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 header-right">
            <ul class="icons no-print">
            </ul>
            <p>
                Email: <a href="mailto:kjh4940@naver.com" target="_blank">kjh4940@naver.com</a>
            </p>
            <p>
                Github:
                <a href="//github.com/kjh936" target="_blank" class="">github.com/kjh936</a>
            </p>
            <p>
                Blog:
                <a href="//kjh1.tistory.com" target="_blank" class="">kjh1.tistory.com</a>
            </p></div>
    </div>
</div>